body {
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 1px solid black; */
}

header ul {
    list-style-type: none;
}

header li a {
    list-style-type: none;
    justify-content: space-between;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.card {
    display: flex;
    place-content: center;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    height: 9vh;
    max-width: 600px;
    width: 100%;
    margin-top: 225px;
    justify-content: center;
}

form.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    border-radius: 60px;
    padding: 10px 20px;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.search-bar input {
    display: flex;
    width: 100%;
    border: 0;
    font-size: 14px;
    opacity: 75%;
}

#submit-btn {
    border: 0;
    background-color: white;
}